<ion-view ng-app="app" title="BarCode Scanner Cordova Plugin with Camera" id="page6" style="background-color:#000000";>
    <div class="background-image"></div>
    

    <ion-content ng-controller="BarCodeController" padding="true" class="has-header">
        <button ng-click='scanBarcode()' class="button button-dark  button-block">Scan BarCode</button>
    
        <a ui-sref="mainpage" id="home-button10" class="button button-dark  button-block">Log out</a>    
    
    </ion-content>
</ion-view>
