<ion-view title="Login" id="page4" style="background-color:#000000;">
    <div class="background-image"></div>
    <ion-content padding="true" class="has-header">
        <form id="login-form7" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input11">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="user name">
                </label>
                <label class="item item-input" id="login-input12">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="home" id="login-button5" style="color:#FFFFFF;" class="button button-dark  button-block">Log in</a>
            <div style="margin-right:-20px;">
                <a ui-sref="signup" id="login-button6" style="left:-10px;color:#FFFFFF;" class="button button-dark  button-full button-outline">Or create an account</a>
            </div>
        </form>
    </ion-content>
</ion-view>